.user-input {
   
    padding: 10px;
    box-shadow: 2px 4px 3px yellow;
    border: 5px saddlebrown;
    margin: 5px;
    width: 50%;


}

.user-input:hover{

background-color: blueviolet;

}


#heading-style{

padding: 6px;
background-color: aquamarine;
color: brown;
visibility: hidden;
}