.first {
    text-align: right;
    margin: 80px;
    padding: 40px;
    
}



.second {
    text-align: center;
    margin: 80px;
padding: 40px;

}


.third {
    text-align: left;
    margin: 80px;
    padding: 40px;

}



h1 {
color: brown;
background-color: aquamarine;
padding: 15px;
border-radius: 15px;
box-shadow: 4px 4px 5px grey;

}



h1:hover{
    color: antiquewhite;
}

.narrow {
    margin: 400px;
}


